/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
#heading{
	color: black;
	font-family: "Marck Script";
	 font-size: 36px; 
	 font-style: normal; 
	 font-variant: normal;
	  font-weight: 700; 
	  line-height: 26.4px;
	  background-color: grey;
}

#signup{
	position: relative;
	left:995px; 
}

#signin{
	position: relative;
	left:985px;
}

h6{
	color: white;
	font-family: "Niconne";
	 font-size: 36px;
	  font-style: normal; 
	  font-variant: normal; 
	  font-weight: 700; 
	  line-height: 26.4px;
}