/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
#heading{
	color: blue;
	margin-top: 20px;
	font-family: "satisfy",cursive;
	 font-size: 50px; 
	 font-style: normal; 
	 font-variant: normal;
	  font-weight: 700; 
	  line-height: 26.4px;
	  background-color: none;
	  margin-left: 15px;
	  padding: 5px;
}

.sub-heading{
	padding: 10px;
	margin:2px;
}

#signup{
	position: relative;
	left:995px; 
}

#signin{
	position: relative;
	left:985px;
}

h6{
	color: black;
	font-family: "Marck Script";
	 font-size: 45px;
	  font-style: normal; 
	  font-variant: normal; 
	  font-weight: 500; 
	  line-height: 26.4px;
	  padding: 5px;
}

